<app-menu></app-menu>
<app-navegacio></app-navegacio>

<article>

  <ng-container *ngFor="let producte of cistella; let i = index">
    <div class="prod" *ngIf="producte">
      <img [src]="producte.imatge">
      <p>{{producte.nom}}</p>
      <p>{{producte.preu}} €</p>
    </div>
  </ng-container>


</article>
<aside>
  <div id="preu_general">

    <div id="preu_total">



      <p>Monda:</p>

      <select id="moneda"  (change)="seleccionarMoneda($event)">
        <option value="opcion1">EURO</option>
        <option value="opcion2">DOLL</option>
        <option value="opcion3">BTC</option>
        <option value="BNB">BNB</option>
      </select>

      <p>Preu cistella: </p>

      {{ preuPoducte }} {{simbolMoneda}}

      <br>

      <p> Preu moneda actual {{preuActual}} € </p>

      <br>
      <br>

      <button (click)="pagar('pagar')" (click)="realitzarPagament()" id="boton" class="bot_carrito">Pagar</button>


    </div>

  </div>
</aside>


<app-peu-pagina></app-peu-pagina>
